<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en-us"/>
    <meta name="keywords" content="pep8, online checker, tools, python" />
    <meta name="description" content="PEP8 online checker">

    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/bootstrap-dropdown.js')}}" type="text/javascript"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    {% block additional_head %}{% endblock %}
    <title>{% block title %}PEP8 checker{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a href="/">Check code</a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="/upload">Upload file</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>

        </div>
    </div>
    <div class="page-header">
        <h2>PEP8 online</h2>
        <h4>Check your code for PEP8 requirements</h4>
    </div>
</div>
<div class="container">
    {% block content %}

        {% endblock %}
</div>
<div class="container">
    <hr>
    <footer class="footer">
        <div class="span6">
            Copyright by R. Nasridinov<br>
            Fork of <a href="https://github.com/Bryukh/pep8online">pep8online</a><br/>
            Powered by <a href="http://flask.pocoo.org/">Flask</a>, designed with Twitter Bootstrap.<br/>
            Icons from Glyphicons Free.<br>
            &nbsp;
        </div>
        <div class="span3 pull-right align-right">
            Found a bug or have an idea?<br>
            <a href="https://github.com/ap-Codkelden/pep8online/issues/new">Create an issue.</a>
        </div>
    </footer>
</div>
</body>
</html>